{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : BarbedFlower
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140322

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Leopard - CMPUT 404 Lab 9</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet"/>
    <link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/code.css' %}" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<div id="wrapper">
    <div id="header-wrapper">
        <div id="header" class="container">
            <div id="logo">
                <h1><a href="{% url 'client:index' %}">Leopard</a></h1>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="{% url 'client:index' %}" accesskey="1" title="">Homepage</a></li>
                    <li><a href="{% url 'admin:index' %}" accesskey="2" title="">Admin</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <div id="featured">
        <div class="container">
            <img src="{% static 'images/leopard.jpg' %}" alt="Leopard" width="1000"/>
            <div class="title">
                <h2>This is a leopard.</h2>
                <span class="byline">This leopard is fairly majestic.</span>
            </div>
            <p>This is <strong>BarbedFlower</strong>, a free, fully standards-compliant CSS template designed by <a
                    href="http://templated.co" rel="nofollow">TEMPLATED</a>. The photos in this template are from <a
                    href="http://unsplash.com/"> Unsplash</a>. This free template is released under the <a
                    href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much
                free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have
                fun :) </p>
        </div>
        <ul class="actions">
            <li><a href="#" class="button">Etiam posuere</a></li>
        </ul>
    </div>
</div>
<div id="copyright" class="container">
    <p>Photos by <a href="http://unsplash.com/">Unsplash</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.
    </p>
</div>
</body>
<!-- Debug Mode, show context -->
<!-- {% filter force_escape %}{% debug %}{% endfilter %} -->
</html>
